<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!--  
	<context:property-placeholder
		location="classpath*:utils-${my.env}.properties, classpath*:core-cass-${my.env}.properties,
            		classpath*:core-iam-${my.env}.properties,classpath*:core-lib-${my.env}.properties, classpath*:core-redshift-${my.env}.properties,classpath*:ee-savings-${my.env}.properties, classpath:images.properties"
		system-properties-mode="OVERRIDE" />

	<import resource="classpath*:utils.xml" />
	<import resource="classpath*:core-cass.xml" />
	<import resource="classpath*:core-lib.xml" />
	<import resource="classpath*:core-iam.xml" />
	
-->

   <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/test" />
		<property name="username"
			value="root" />
		<property name="password"
			value="root" />
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"
			ref="dataSource" />
	</bean>
	
	<bean id="eDao" class="com.reachgoal.springjdbc.dao.EmployeeDao">
		<property name="dataSource"
			ref="dataSource" />
		<property name="platformTransactionManager"
			ref="transactionManager" />
	</bean>

	<bean id="employeeEndPoint" class="com.reachgoal.restwebserivicebasic.EmployeeEndPoint">
		<property name="eDao"
			ref="eDao" />
	</bean>
</beans>
